<h1>Create Band</h1>

<form action='<%= bands_url %>' method='post'>

  <label for='band_name'>Band name:</label>
  <input type='text' name='band[name]' id='band_name'>

  <input type='submit' value='Submit'>

</form>
